{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'plantilla.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"></div>
  <div class="col-xs-6 col-md-4"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">Store Phone</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"></div>
  <div class="col-xs-6 col-md-4"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4"><a href="{{=URL(c="catalogo",f="inicio")}}" class="btn btn-success" role="button">CATALOGO</a> </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
<div class="">
    <button type="button" class="btn btn-default btn-lg">SAMSUNG</button>
    <a type="button" class="btn btn-default btn-lg" href="{{=URL(c="catalogo",f="motorola")}}">MOTOROLA</a>
</div>

<!--ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
    (A(request.function+'()',_href='#'),
    A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
    _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
    A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
    _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div-->
{{end}}
