{{extend 'plantilla.html'}}
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Bienvenido a StorePhone!</h1>
            <p>En este catalogo podra ver todos los equipos con los que contamos a la venta.<br>Recuerde que para comprar un producto debe registrarse en el sistema.</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Ordenados por "mas relevantes"</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/StorePhone/static/images/samj7.jpg">
                    <div class="caption">
                        <h3>Samsung Galaxy J7</h3>
                        <p>Es el nuevo modelo de samsung J7</p>
                        <p>
                            <a href="{{=URL(c="catalogo",f="index")}}" class="btn btn-primary">Comprar</a> <a href="{{=URL(c="catalogo",f="caracteristicas")}}" class="btn btn-default">Más Info.</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/StorePhone/static/images/n1.jpg">
                    <div class="caption">
                        <h3>MOTO G 3ra Gen</h3>
                        <p>Nuevo motorola moto g 3ra Generacion.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Comprar</a> <a href="#" class="btn btn-default">Más Info.</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/StorePhone/static/images/lgg.jpg">
                    <div class="caption">
                        <h3>LG G      <br>           </br>            </h3>
                        <p>Nuevo LG G ahora con mas memoria cache.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Comprar</a> <a href="#" class="btn btn-default">Más Info.</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/StorePhone/static/images/motox2016.jpg">
                    <div class="caption">
                        <h3>Motorola Moto G (2016)</h3>
                        <p>Nuevo Motorola Moto G con nucleos optimizados.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Comprar</a> <a href="#" class="btn btn-default">Más Info.</a>
                        </p>
                    </div>
                </div>
            </div>
