{{extend 'plantilla.html'}}
<!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Bienvenido a StorePhone!</h1>
            <p>En este catalogo podra ver todos los equipos con los que contamos a la venta.<br>Recuerde que para comprar un producto debe registrarse en el sistema.</p>
        </header>

        <hr>

        <!-- Titulo -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Ordenados por "mas relevantes"</h3>
            </div>
        </div>
             <div class="row text-center">
             <!-- Recorre el listado de los articulos -->
             {{for x in da: }}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a class="noeffect" href="{{=URL(c="catalogo",f="index")}}" class="btn btn-primary">
                        <!-- Ingresa la imagen -->
                        {{=IMG( _src=URL(c="consultas", f="mostrar",args=[x.id]))}}
                    </a>
                    <div class="caption">
                        <h3>{{=x.nombre}}</h3>
                    </div>
                </div>
            </div>
            {{pass}}
