{{extend 'plantilla.html'}}
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Producto</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Progreso</th>
            </tr>
        </thead>
        <tbody>
            {{for x in dp:}}
                <tr class="clickable warning dropdown-deliverable" data-for="#details_{{=x.id}}">
                    <td>{{=x.cliente.nombre}}</td>
                    <td>{{=x.articulo.nombre}}</td>
                    <td>{{=x.fecha}}</td>
                    <td><span class="label label-{{=x.estado.color}}">{{=x.estado.nombre}}</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-{{=x.estado.color}}" style="width: {{=x.estado.progreso}}%;">
                                {{=x.estado.progreso}}%
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="padding:0">
                    <td style="padding:0"></td>
                    <td colspan=2 style="padding:0px;">
                        <div class="deliverable-infos" id="details_{{=x.id}}">
                            <table class="table table-condensed table-user-content" id="hidden_table_{{=x.id}}">
                                <tbody>
                                    <tr>
                       <a href="{{=URL(c='pedidos', f='cambiarEstado', args=(x.id,))}}" type="submit" class="btn btn-success"><i class="glyphicon .glyphicon-send"></i> Despachar </a>
                       <a href="{{=URL(c='pedidos', f='pasaraentregado', args=(x.id,))}}" type="submit" class="btn btn-info"><i class="glyphicon .glyphicon-send"></i> Cambiar a Entregado </a>
                       <a href="{{=URL(c='pedidos', f='cargarfactura', args=(x.id,))}}" type="submit" class="btn btn-primary"><i class="glyphicon .glyphicon-floppy-save"></i> Venta Realizadas </a>
                       <a href="{{=URL(c='pedidos', f='borrarpedido', args=(x.id,))}}" type="submit" class="btn btn-danger"><i class="glyphicon .glyphicon-book"></i> BORRAR PEDIDO </a>
                                    </tr>
                                    <tr>
                                          <td><A href="{{=URL(c='pedidos', f='editar_pedidos', args=(x.id, ))}}">EDITAR</A></td>
                                    </tr>
                                    <tr>
                                        <td>ID Pedido :</td>
                                        <td class="right-col">{{=x.id}} </td>
                                    </tr>
                                    <tr>
                                        <td>Cantidad :</td>
                                        <td class="right-col">{{=x.cantidad}} </td>
                                    </tr>
                                    <tr>
                                        <td>Precio Unitario :</td>
                                        <td class="right-col">{{=x.articulo.precio}}</td>
                                    </tr>
                                     </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding:0"></td>
                    <td style="padding:0"></td>
                </tr>
            {{pass}}
               <!-- <tr class="clickable warning dropdown-deliverable" data-for="#details_2">
                    <td>detonator</td>
                    <td>magic wand</td>
                    <td>April 23, 2014</td>
                    <td><span class="label label-warning">Pending</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 100%;">
                                100%
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="padding:0">
                    <td style="padding:0"></td>
                    <td colspan=2 style="padding:0">
                        <div class="deliverable-infos" id="details_2">
                            <table class="table table-condensed table-user-content" id="hidden_table_2">
                                <tbody>
                                    <tr>
                                        <td>Started:</td>
                                        <td class="right-col">April 22, 2013</td>
                                    </tr>
                                    <tr>
                                        <td>Load:</td>
                                        <td class="right-col">20 h</td>
                                    </tr>
                                    <tr>
                                        <td>Fare:</td>
                                        <td class="right-col">200 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="padding:0"></td>
                    <td style="padding:0"></td>
                </tr> -->
        </tbody>
    </table>
</div>
