{{extend 'plantilla.html'}}
<header class="jumbotron hero-spacer">
    <h3 align="center"> Confirmar compra para: {{=reg_proveedor.nombre}},<br> N° Comprobante {{=nro_cbte}},<br> Por el importe de $ {{=total}}</h4>
</header>
<div class="row">
    <div class="col-xs-6">
        <center>
             <a href="{{=URL(c="compras",f="guardado")}}" class="btn btn-primary" role="button">ACEPTAR</a>
             <a href="{{=URL(c="compras",f="detalle_compras")}}" class="btn btn-default" role="button">Volver</a>
         </center>
     </div>
</div>
