{{extend 'layout.html'}}
<div class="right_col" role="main" style="min-height: 1014px;">
    <div class="page-title">
        <div class="title_left">
            <h2><center>DETALLE DE VENTAS</center></h2>
        </div>
          <div class="clearfix"></div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <div class="x_title">
             <h2>PRODUCTOS</h2>
        <hr>  
       <div class="col-md-7 col-sm-7 col-xs-12">
    <table class="table table-hover">
                            <tr class="info">
                                <th>Samsung Galaxy J7 </th>
                                    <td> </td>
                            </tr>
                            </tr>
                          <tr class="info">
                                <th> </th>
                                    <td> </td>
                            </tr>
                          <tr class="info">
                                <th>SUBTOTAL </th>
                              <td>$9000</td>
                            </tr>
                          <tr class="info">
                                <th>TOTAL </th>
                                <td>$9000 </td>  
                            </tr>
                       </table>
                     </div>
                    </div>
                  </div>
                </div>
              </div> 

<a mp-mode="dftl" href="{{=URL(c="mp",f="index")}}" name="MP-payButton" class="btn btn-success" >Pagar con mercado pago<i class="glyphicon glyphicon-send" ></i></a>
              <!--- 
<div class="title_right">
                <a mp-mode="dftl" href="https://www.mercadopago.com/mla/checkout/start?pref_id=243812046-7c934f29-83d7-4f73-996f-a3680bf491f5" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <span class="input-group-btn"><script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>
                      <!--<a type="button" class="btn btn-default btn-lg" href="{{=URL(c="carrito",f="factura")}}">CONTINUAR</a> -->
                    </span>
                  </div>
                </div>
                    </div>         
                  </div>
                </div>
    </div>
    </div>
</div>
<center>
<br /><br /><br />
