{{extend 'layout.html'}}
<h2>
VENTAS
</h2>
<table class="table table-hover">
    <TR><TH>NOMBRE</TH>
        <TH>APELLIDO</TH>
        <TH>FECHA DE VENTA</TH>
        <TH>PRODUCTO</TH>
        <TH>TOTAL</TH>
        <TH>TIPO DE PAGO</TH>
        <TH>ESTADO</TH>
    </TR>
    <TR><TD> Lucas</TD>
        <TD>Noguera</TD>
        <TD>7/5/2017</TD>
        <TD>Samsung Galaxy J7</TD>
        <TD>$6500</TD>
        <TD>Debito</TD>
        <TD><a type="button" class="btn btn-default btn-lg">CONFIRMAR PEDIDO</a> - <a type="button" class="btn btn-default btn-lg">CANCELAR PEDIDO</a></TD>
</TABLE>
