{{extend 'plantilla.html'}}
<h2>
VENTAS
</h2>
<table class="table table-hover">
    <TR><TH>NOMBRE</TH>
        <TH>APELLIDO</TH>
        <TH>FECHA DE VENTA</TH>
        <TH>PRODUCTO</TH>
        <TH>PRECIO UNITARIO</TH>
        <TH>STOCK </TH>
    </TR>
{{for x in dv:}}
    <TR><TD> {{=x.cliente.nombre}}</TD>
        <TD>{{=x.cliente.apellido}}</TD>
        <TD>{{=x.fecha}}</TD>
        <TD>{{=x.articulo.nombre}}</TD>
        <TD>{{=x.articulo.precio}}</TD>
        <td>{{=x.articulo.stock}}</td>
{{pass}}
</TABLE>
